/* Start of the StyleSheet */
body{
margin:0 auto;
width:100%;
height:100%;
background:#FFFFFF;
color:#CCCCCC;
font-size:20px;
line-height:10px;
}
h1,h2,h3{
font-family:"Helvetica Nue", Times New Roman;
color:#000000;
}
p{
font-family:"Lobster", Times New Roman;
font size:14px;
}
a{
text-decoration:none;
color:#09F;
}
a:hover{
text-decoration:underline;
}
a:active{
color:#06F:
}